.qr_wrapper {
    text-align: center;

    padding-top: 75px;
    background-color: white;
}

.qr {
    width: 112px;
}

.year {

    background-color: white;
    text-align: center;
    font-size: 160%;
    padding-top: 25px;
    margin-bottom: 22px;
    line-height: 70%;
}

.year_span {
    color: white;
    background-color: black;
}

.tile {
    background-color: white;
    text-align: center;
    padding-top: 20px;
}

.tile span.title{
    display: inline-block;
    line-height: 1px;
}

.tile-link {
    margin-top: -6px;
    display: block;
    width: 100%;
    height: 112px;
    background-size: contain;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
    text-decoration: none;
}