.navi_home {
    position: fixed;
    padding: 0px;
    top: -1px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
}
.navi_home .navi-toggle {
    background-color: black;
    color: white;
    padding: 10px 10px 10px 20px;
    font-size: 120%;
    line-height: 60%;


}

.navi_home .navi-toggle div{
    display: block;
    transform: rotate(-90deg);
    text-align: center;

}

.overlay {
    position: absolute;
    width: 100%;
    top:0;
    left: 0;

}

.overlay_row {
    width: 100%;
    height: 20px;
    overflow: hidden;
    border-top: blue thin solid;
}

.overlay_row_even {
    /*background-color: rgba(255,0,0,0.3);*/
}
.overlay_row_odd {
    /*background-color: rgba(0,255,0,0.3);*/
}


.content_wrapper {

    padding: 0px 0 0 0;

}

.site_title_wrapper {
    text-align: center;
    border-top: solid black 40px;
    border-bottom: solid black 20px;
    padding-top: 10px;
    padding-bottom: 4px;
    /*padding-top: 37px;*/
    /*padding-bottom: 15px;*/
    background-color: white;

}

.site_title_top {
    font-size: 170%;
    line-height: 100%;
}

.site_title_bottom {
    font-size: 100%;
}

.qr {
    width: 142px;
    height: 142px;
}

.year {
    /*background-color: white;*/
    text-align: center;
    font-size: 110%;
    border-top: solid black 20px;
    line-height: 70%;
}

.year_span {
    display: inline-block;
    height: 0.7em;
    color: white;
    background-color: black;
}

.year_end {
    border-bottom: solid black 20px;
}

.tile {
    position: relative;
    background-color: white;
    text-align: center;
    padding-top: 43px;
    /*padding-top: 5px;*/
    padding-bottom: 40px
}

.tile span.title{
    display: inline-block;
    line-height: 1px;
}

.tile-link {
    margin-top: -6px;
    display: block;
    width: 100%;
    height: 112px;
    /* height: 20vw; */
    background-size: contain;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .tile {
        font-size: 140%;
    }
    .tile-link {
        height: 202px;
    }
}