.qr_wrapper {
    text-align: center;

    margin-top: 75px;
}

.qr {
    width: 112px;
}

.year {
    text-align: center;
    font-size: 160%;
    margin-top: 75px;

}

.tile {
    text-align: center;
    margin-bottom: 20px;
}

.tile span.title{
    display: inline-block;
    line-height: 1px;
}

.tile-link {
    margin-top: -6px;
    display: block;
    width: 100%;
    height: 112px;
    background-size: contain;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
    text-decoration: none;
}