.media_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    padding: 10vh 0;

}

.meta{
    padding: 0 10px;
}

.media_wrapper_year{
    float: right;
}