.navi_media {
    position: fixed;
    padding: 0px;
    top: -1px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
}
.navi_media .navi_media_entry {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 0;
}

.navi_media_entry div img{
    position: relative;
    width: 33px;
}

.navi_media .navi-left-button{
    text-align: left;
}

.navi_media .navi-home-button{
    text-align: center;
}

.navi_media .navi-right-button{
    text-align: right;
}

.media_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    padding: 10vh 0;

}
.media_container {
    float: left;
}
.media_container img{
    max-width: 100%;
}

.meta_name, .meta_comment, .meta_year, .meta_material, .meta_dimensions{
    padding: 0 10px;
    float: left ;
}

.meta_name {
    font-size: 100%;
}

.meta_comment, .meta_material, .meta_dimensions{
    float: right;
}
