
.navi {
  position: fixed;
  padding: 0px;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.navi-toggle {
  background-color: black;
  color: white;
  padding: 10px 10px 10px 20px;
  font-size: 150%;
  line-height: 60%;
}

.navi-toggle div{
  display: block;
  transform: rotate(-90deg);

}
nav ul{
  padding: 0 10px;
}
nav ul li {
  display: inline;
}
nav ul li::after {
  content: ' ';
}
